$color--white: rgba(250, 250, 250, 1);
$color--dark: #1e1e1e;
$color--dark--light: #353632;
$color--yellow: #ffd500;
$color--red: #d8315b;
$color--green: #06d6a0;
$color--grey: #737373;

$border-radius: 2px;

$min-width: 320px;
$max-width: 1280px;
$max-width--half: calc($max-width / 2);

$screen-mobile: 'screen and (max-width: 600px)';
$screen-tablet: 'screen and (max-width: 960px)';
$screen-desktop: 'screen and (min-width: 960px)';
$screen-desktop-after: 'screen and (max-width: 1280px)';
